.body {
  position: relative;
}
.content {
  position: relative;
  display: grid;
  justify-content: center;
}

.game {
  position: relative;
  display: grid;
  width: 900px;
  justify-content: center;
  background-color: lightsteelblue;
  border: solid 1px black;
}

.title {
  text-align: center;
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
}

.game td {
  height: 100px;
  width: 100px;
  border: solid 2px black;
  text-align: center;
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
  background-color: wheat;
  border-radius: 10px;
}

.game td:hover {
  background-color: lightskyblue;
}

.player-scores {
  display: flex;
  justify-content: space-between;
}

.player {
  font-family: Arial, Helvetica, sans-serif;
}

.selected {
  background-color: rgb(245, 222, 179);
  border: 1px dotted rgb(112, 112, 112);
}

.ai-button-visible {
  visibility: hidden;
}

.switch-flat {
  padding: 0;
  background: #fff;
  background-image: none;
}
.switch-flat .switch-label {
  background: #fff;
  border: solid 2px #eceeef;
  box-shadow: none;
}
.switch-flat .switch-label:after {
  color: #0088cc;
}
.switch-flat .switch-handle {
  top: 6px;
  left: 6px;
  background: #dadada;
  width: 22px;
  height: 22px;
  box-shadow: none;
}
.switch-flat .switch-handle:before {
  background: #eceeef;
}
.switch-flat .switch-input:checked ~ .switch-label {
  background: #fff;
  border-color: #0088cc;
}
.switch-flat .switch-input:checked ~ .switch-handle {
  left: 72px;
  background: #0088cc;
  box-shadow: none;
}
